@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700;800&display=swap');

/*VARIABLE*/
    :root {
        --primary-color : #0a4a54;
        --secondary-color : #62b0bb;
        --third-color : #a4b2b7;

        --main-font : 'Exo', sans-serif;
        --heading-font : 'Monoton', cursive;
    }

/*WEB SETTING*/
    *, html, body {
        font-family: var(--main-font);
        color: var(--primary-color);
        list-style: none;
        text-decoration: none;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        transition: background-color .7s ease-in-out;
    }
    body {
        background-color: var(--third-color);
        overflow-x: hidden;
    }
    body::-webkit-scrollbar {
        display: none;
    }
    .parallax {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
    }

/*INTRO START*/
    .intro {
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: var(--primary-color);
        transition: 1s;
    }
    .logo-header {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
    }
    .logo-in {
        font-size: 24px;
        position: relative; 
        display: inline-block;
        bottom: -20px;
        opacity: 0;
        color: var(--secondary-color);
    }
    .logo-ast {
        color: #fff;
    }
    .logo-in.active {
        bottom: 0;
        opacity: 1;
        transition: ease-in-out 1s;
    }
    .logo-in.fade {
        bottom: 150px;
        opacity: 0;
        transition: ease-in-out 1s;
    }
/*INTRO END*/
/*HEADER START*/
    .header-asteandi {
        padding: 38px 30px 0 30px;
        width: auto;
        position: fixed;
        transition: ease-in-out .5s;
        z-index: 2;
        /* background-color: aqua; */
    }
    .header-asteandi .navbar-asteandi {
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* background-color: #2b8da3; */
    }
    .header-asteandi .navbar-asteandi .logonavbar-asteandi {
        font-size: 20px;
        font-weight: 800;
        padding: 5px;
        /* background-color: white; */
        transform-style: preserve-3d;
        transform: perspective(1000px);
    }
    .header-asteandi .navbar-asteandi .logonavbar-asteandi a:hover {
        background-color: var(--primary-color);
        color: #fff;
    }
    .navigation {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #111111d3;
        backdrop-filter: blur(5px);
        transition: 1.5s;
        display: flex;
        visibility: hidden;
        /* opacity: 0;; */
        z-index: 990;
        clip-path: circle(0.0% at 96% 10%);
    }
    .navigation.active {
        visibility: visible;
        /* opacity: 1; */
        position: fixed;
        clip-path: circle(150% at 96% 10%);
        z-index: 990;
    }
    .navigation .navArea {
        position: relative;
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 990;
    }
    .navigation .navArea ul li {
        list-style: none;
    }
    .navigation .navArea ul li::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #62b0bb;
        z-index: -1;
        opacity: 0;
        transition: 0.5s;
    }
    .navigation .navArea ul li:nth-child(1):before {
        background: #2b8da3;
    }
    .navigation .navArea ul li:nth-child(2):before {
        background: #ff9c9c;
    }
    .navigation .navArea ul li:nth-child(3):before {
        background: #284166;
    }
    .navigation .navArea ul li:nth-child(4):before {
        background: #fed0b1;
    }
    .navigation .navArea ul li:nth-child(5):before {
        background: #b3b54f;
    }
    .navigation .navArea ul li:hover::before {
        opacity: 1;
    }
    .navigation .navArea ul li a {
        font-size: 3em;
        font-weight: 800;
        text-decoration: none;
        color: white;
    }
    .navigation .navArea ul li:hover a {
        color: var(--primary-color);
    }
    .imgArea {
        position: relative;
        width: 20%;
        height: 100vh;
        background: var(--secondary-color);
    }
    .imgArea img {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .menuToggle {
        position: fixed;
        top: 30px;
        right: 30px;
        width: 50px;
        height: 50px;
        background: var(--primary-color) url(../img/menu.png);
        border-radius: 10px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.335);
        z-index: 500;
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 992;
    }
    .menuToggle.active {
        background: var(--primary-color) url(../img/close.png);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.335);
        border-radius: 10px;
        z-index: 992;
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
        /* filter: invert(1); */
    }
/*HEADER END*/

.backcustom {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -10000;
}

/*CONTENT START*/
    /*BACKGROUND HOME START*/
    .backgroundhome-asteandi {
        content: '';
        width: 100vw;
        justify-content: center;
        display: flex;
        position: absolute;
        z-index: -2;
    }
    .backgroundhome-asteandi img {
        height: 100vh;
        position: absolute;
    }
    /*BACKGROUND HOME END*/
    /*HOME CONTENT START*/
    .content-asteandi .home-asteandi {
        height: 100vh;
    }
    .content-asteandi .home-asteandi .homespacetop-asteandi {
        height: 40%;
        width: 100vw;
        display: flex;
        justify-content: end;
        align-items: end;
        /* background-color: aquamarine; */
    }
    .content-asteandi .home-asteandi .homenamemiddle-asteandi {
        height: 20%;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-color: white; */
        /* padding: 0 30px; */
    }
    .content-asteandi .home-asteandi .homenamemiddle-asteandi .iso-marquee-linkwrap {
        display: flex;
        position: fixed;
        width: 100vw;
        z-index: -4;
        /* background-color: #a4b2b7; */
    }
    .iso-marquee {
        font-size: 10vw;
        width: 100vw;
        overflow: hidden;
        /* background-color:#222232; */
    } 
    .iso-marquee--long {
        font-size: 6vw;
    }
    .iso-marquee-linkwrap a {
        color: white;
    }
    .iso-marquee span {
        display: inline-block;
        white-space: nowrap;
        font-family: var(--heading-font);
        /* font-size: 5.5vw; */
        width: var(--tw);
        text-shadow: var(--tw) 0 currentColor, calc(var(--tw) * 2) 0 currentColor, calc(var(--tw) * 3) 0 currentColor, calc(var(--tw) * 4) 0 currentColor;
        will-change: transform;
        animation: iso-marquee var(--ad) linear infinite;
        animation-play-state: play;
    }
    @keyframes iso-marquee {
        0% { transform: translateX(0); }
        100% { transform: translateX(-100%); } }
    @media (prefers-reduced-motion: reduce) {
        .iso-marquee span {
            animation: none;
            text-shadow: none;
            width: auto;
            display: block;
            line-height: 1.5;
            text-align: center;
            white-space: normal;
        }
    }
    .content-asteandi .home-asteandi .descriptionbottom-asteandi {
        height: 40%;
        width: 100vw;
        padding: 0 30px 30px 30px;
        display: flex;
        align-items: end;
        justify-content: space-between;
        /* background-color: burlywood; */
    }
    .content-asteandi .home-asteandi .descriptionbottom-asteandi .location-asteandi {
        /* display: flex; */
        align-items: center;
        z-index: -1;
        gap: 5px;
        /* background-color: #62b0bb; */
    }
    .content-asteandi .home-asteandi .descriptionbottom-asteandi .location-asteandi .loccont {
        display: flex;
        align-items: center;
        gap: 5px;
    }
    .content-asteandi .home-asteandi .homenamemiddle-asteandi .jobimg-asteandi {
        /* background-color: #2b8da3; */
        display: flex;
        align-items: center;
        z-index: -3;
        /* padding: 0 160px; */
    }
    .content-asteandi .home-asteandi .homenamemiddle-asteandi .jobimg-asteandi img {
        width: 150px;
        position: fixed;
        left: 30px;
        /* position: absolute; */
        /* left: -50px; */
    }
    .content-asteandi .home-asteandi .homenamemiddle-asteandi .jobimg-asteandi .location2 {
        width: 150px;
        /* left: -75px; */
        /* top: 225px; */
    }
    .content-asteandi .home-asteandi .homenamemiddle-asteandi .jobimg-asteandi > .location {
        animation: spin 7s infinite linear;
    }
    .content-asteandi .home-asteandi .homenamemiddle-asteandi .jobimg-asteandi > .location2 {
        animation: spin 10s infinite linear reverse;
    }

    .content-asteandi .home-asteandi .descriptionbottom-asteandi .location-asteandi a {
        font-size: 14px;
        font-weight: 500;
    }
    .content-asteandi .home-asteandi .descriptionbottom-asteandi .location-asteandi span {
        font-weight: 800;
    }
    .content-asteandi .home-asteandi .descriptionbottom-asteandi .location-asteandi i {
        font-size: 26px;
        cursor: pointer;
    }
    .content-asteandi .home-asteandi .descriptionbottom-asteandi .jobdesk-asteandi {
        justify-content: end;
        z-index: -4;
        /* padding-bottom: 30px; */
        /* background-color: #62b0bb; */
    }
    .content-asteandi .home-asteandi .descriptionbottom-asteandi .jobdesk-asteandi i {
        font-size: 40px;
        display: flex;
        justify-content: end;
    }
    .content-asteandi .home-asteandi .descriptionbottom-asteandi .jobdesk-asteandi h1 {
        font-size: 18px;
        font-weight: 600;
        text-align: right;
    }
    /*HOME CONTENT END*/
    /*CONTENT UTAMA START*/
        /*CONTENT 1 ABOUT START*/
            .content-asteandi .content1-asteandi {
                min-height: 100vh;
                width: 100vw;
                padding: 100px 0;
                box-shadow: 0 0 50px black;
                background-color: white;
            }
            .content-asteandi .content1-asteandi .about-asteandi {
                text-align: justify;
                padding: 0 200px;
            }
            .content-asteandi .content1-asteandi .about-asteandi span {
                font-size: 38px;
                font-weight: 600;
            }
            .content-asteandi .content1-asteandi .descriptionabout-asteandi {
                display: flex;
                /* border-bottom: solid 5px; */
                padding: 0 200px 70px 200px;
                /* background-color: #62b0bb; */
            }
            .content-asteandi .content1-asteandi .descriptionabout-asteandi .buttonabout-asteandi {
                display: flex;
                justify-content: center;
                margin-top: 50px;
            }
            .content-asteandi .content1-asteandi .descriptionabout-asteandi .buttonabout-asteandi .buttonabout {
                height: 200px;
                width: 200px;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                font-size: 20px;
                font-weight: 800;
                align-items: center;
                /* background-color: var(--primary-color); */
                background: linear-gradient(90deg, #09353b 0%, #0a4a54 100%);
                box-shadow: 0 10px 30px rgba(0, 0, 0, 0.716);
                cursor: pointer;
                transform-style: preserve-3d;
                transform: perspective(1000px);
            }
            .content-asteandi .content1-asteandi .descriptionabout-asteandi .buttonabout-asteandi .buttonabout a {
                color: white;
                transform: translateZ(60px);
                text-shadow: 0 5px 20px black;
            }
            .content-asteandi .content1-asteandi .descriptionabout-asteandi .buttonabout-asteandi:hover {
                filter: grayscale(100%);
            }
            .content-asteandi .content1-asteandi .descriptionabout-asteandi .description-asteandi {
                text-align: justify;
                padding: 50px 0 0 0;
            }
            .content-asteandi .content1-asteandi .descriptionabout-asteandi .description-asteandi p {
                font-size: 22px;
            }
        /*CONTENT 1 ABOUT END*/
        /*CONTENT 2 WORK START*/
            .content-asteandi .content1-asteandi .contentutama-asteandi {
                min-height: 1250px;
                padding: 30px 0;
                /* background-color: #62b0bb; */
            }
            .content-asteandi .content1-asteandi .contentutama-asteandi .cardwork-asteandi {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                padding: 1em;
                max-width: 1100px;
                margin: 0 auto;
                min-height: 100vh;
                gap: 30px;
            }
            .content-asteandi .content1-asteandi .contentutama-asteandi .cardwork-asteandi * {
                box-sizing: border-box;
            }
            .content-asteandi .content1-asteandi .contentutama-asteandi .cardwork-asteandi .card-asteandi {
                width: 17em;
                background-color: #fff;
                border-radius: 10px;
                box-shadow: rgba(100, 100, 111, 0.618) 0px 7px 20px 0px;
                position: relative;
                transform-style: preserve-3d;
                transform: perspective(1000px);
                margin: 1em;
            }
            .content-asteandi .content1-asteandi .contentutama-asteandi .cardwork-asteandi .card-asteandi:hover {
                z-index: 20;
            }
            .gradientcard {
                content: '';
                position: absolute;
                width: 320px;
                height: 500px;
                background: linear-gradient(0, #ffffff 0%, #ffffff40 100%);
                bottom: -35px;
                right: -23px;
            }
            .content-asteandi .content1-asteandi .contentutama-asteandi .cardwork-asteandi .card-asteandi img {
                height: 8em;
                width: 8em;
                font-weight: 800;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: 7em;
                right: 0;
                justify-content: center;
                /* border-radius: 100%; */
                /* box-shadow: rgba(100, 100, 111, 0.442) 0px 7px 29px 0px; */
                /* background: linear-gradient(90deg, #48c5d8 0%, #0a4a54 100%); */
                transform: translateZ(70px);
                filter : drop-shadow(0px 10px 25px rgba(0, 0, 0, 0.5));
                /* text-shadow: rgba(100, 100, 111, 0.442) 0px 7px 29px 0px; */
            }
            .content-asteandi .content1-asteandi .contentutama-asteandi .cardwork-asteandi .card-asteandi span {
                color: white;
                transform: translateZ(80px);
            }
            .content-asteandi .content1-asteandi .contentutama-asteandi .cardwork-asteandi .card-asteandi .banner-asteandi {
                height: 15em;
                background: var(--primary-color);
                padding: 2em;
                border-radius: 10px 10px 50% 0;
                transform: translateZ(30px);
                box-shadow: rgba(100, 100, 111, 0.442) 0px 7px 29px 0px;
                transition: 0.5s;
            }
            .content-asteandi .content1-asteandi .contentutama-asteandi .cardwork-asteandi .card-asteandi .banner-asteandi h2 {
                color: #fff;
                /* margin: 0 0 0 0.8em; */
            }
            .content-asteandi .content1-asteandi .contentutama-asteandi .cardwork-asteandi .card-asteandi:hover .banner-asteandi {
                filter: brightness(50%);
                transition: 0.5s;
            }
            .content-asteandi .content1-asteandi .contentutama-asteandi .cardwork-asteandi .card-asteandi:hover .gradientcard {
                visibility: hidden;
            }
            .content-asteandi .content1-asteandi .contentutama-asteandi .cardwork-asteandi .card-asteandi .banner1 {
                background: url(../img/img6.jpg);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                background-attachment: fixed;
            }
            .content-asteandi .content1-asteandi .contentutama-asteandi .cardwork-asteandi .card-asteandi .banner2 {
                background: url(../img/img7.jpg);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                background-attachment: fixed;
            }
            .content-asteandi .content1-asteandi .contentutama-asteandi .cardwork-asteandi .card-asteandi .banner3 {
                background: url(../img/img8.jpg);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                background-attachment: fixed;
            }
            .content-asteandi .content1-asteandi .contentutama-asteandi .cardwork-asteandi .card-asteandi .banner4 {
                background: url(../img/img9.jpg);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                background-attachment: fixed;
            }
            .content-asteandi .content1-asteandi .contentutama-asteandi .cardwork-asteandi .card-asteandi .banner5 {
                background: url(../img/img10.jpg);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                background-attachment: fixed;
            }
            .content-asteandi .content1-asteandi .contentutama-asteandi .cardwork-asteandi .card-asteandi .banner6 {
                background: url(../img/img11.jpg);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                background-attachment: fixed;
            }
            .content-asteandi .content1-asteandi .contentutama-asteandi .cardwork-asteandi .card-asteandi .workcontent-asteandi {
                padding: 2em;
                transform-style: preserve-3d;
                transform: perspective(1000px);
            }
            .content-asteandi .content1-asteandi .contentutama-asteandi .cardwork-asteandi .card-asteandi .workcontent-asteandi .details-asteandi {
                transform: translateZ(30px);
            }
            .content-asteandi .content1-asteandi .contentutama-asteandi .cardwork-asteandi .card-asteandi .workcontent-asteandi .details-asteandi small {
                display: block;
                font-size: 0.8em;
                text-align: justify;
            }
            .content-asteandi .content1-asteandi .contentutama-asteandi .cardwork-asteandi .card-asteandi .workcontent-asteandi .cart-asteandi {
                /* background: var(--primary-color); */
                background: linear-gradient(90deg, #09353b 0%, #0a4a54 100%);
                padding: 1em 1.1em;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 200px;
                border-radius: 2em;
                color: #fff;
                border: none;
                margin: 0 auto;
                font-weight: 700;
                box-shadow: rgba(89, 89, 96, 0.879) 0px 7px 29px 0px;
                cursor: pointer;
                margin-top: 30px;
            }
            .pop {
                transform: translateY(-20%) translateZ(40px);
            }
            .content-asteandi .content1-asteandi .contentutama-asteandi .buttonwork-asteandi {
                display: flex;
                position: absolute;
                padding: 0 200px;
                transform: translateY(130px);
                z-index: 1;
                /* background-color: aqua; */
            }
            .content-asteandi .content1-asteandi .contentutama-asteandi .buttonwork-asteandi .buttonwork {
                height: 200px;
                width: 200px;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                font-size: 20px;
                font-weight: 800;
                align-items: center;
                /* background-color: var(--primary-color); */
                background: linear-gradient(90deg, #09353b 0%, #0a4a54 100%);
                box-shadow: 0 10px 30px rgba(0, 0, 0, 0.716);
                cursor: pointer;
                transform-style: preserve-3d;
                transform: perspective(1000px);
            }
            .content-asteandi .content1-asteandi .contentutama-asteandi .buttonwork-asteandi:hover {
                filter: grayscale(100%);
            }
            .content-asteandi .content1-asteandi .contentutama-asteandi .buttonwork-asteandi .buttonwork a {
                color: white;
                transform: translateZ(60px);
                text-shadow: 0 5px 20px black;
            }
        /*CONTENT 2 WORK END*/
        /*CONTENT 3 MY THEME START*/
            .content-asteandi .content1-asteandi .contentthemeasteandi {
                min-height: 100vh;
                width: 100vw;
                padding: 0 200px 30px 200px;
                /* background-color: #62b0bb; */
            }
            .content-asteandi .content1-asteandi .contentthemeasteandi .themeasteandi {
                padding: 30px 0;
                border-bottom: solid 3px;
                align-items: center;
                display: flex;
                justify-content: space-between;
                transform-style: preserve-3d;
                transform: perspective(1000px);
                cursor: pointer;
                /* background-color: aqua; */
            }
            .content-asteandi .content1-asteandi .contentthemeasteandi .themeasteandi img {
                position: absolute;
                height: 100%;
                right: 0;
                top: 0;
                visibility: hidden;
                opacity: 0;
                transition: 1s;
            }
            .content-asteandi .content1-asteandi .contentthemeasteandi .themeasteandi .imgtop2 {
                position: absolute;
                height: 100%;
                right: 0;
                top: 0;
                visibility: hidden;
                opacity: 0;
                transition: 1s;
                z-index: 2;
                /* shadow: rgba(100, 100, 111, 0.946) 0px 7px 29px 0px; */
            }
            .content-asteandi .content1-asteandi .contentthemeasteandi .themeasteandi:hover img {
                transform: translateZ(60px);
                filter : drop-shadow(0px 10px 25px rgba(0, 0, 0, 0.5));
                visibility: visible;
                opacity: 1;
                transition: 1s;
            }
            .content-asteandi .content1-asteandi .contentthemeasteandi .themeasteandi:hover .imgtop2 {
                transform: translateZ(90px);
                filter : drop-shadow(0px 10px 25px rgba(0, 0, 0, 0.5));
                visibility: visible;
                opacity: 1;
                transition: 1s;
            }
            /* .content-asteandi .content1-asteandi .contentthemeasteandi .creative {
                border-top: solid 3px;
            } */
            .content-asteandi .content1-asteandi .contentthemeasteandi .themeasteandi:hover {
                /* background-color: var(--primary-color); */
                background: linear-gradient(90deg, #09353b 0%, #0a4a54 100%);
            }
            .content-asteandi .content1-asteandi .contentthemeasteandi .themeasteandi:hover a {
                color: white;
                text-shadow: 0 5px 10px rgba(0, 0, 0, 0.69);
                transform: translateX(30px) translateZ(80px);
            }
            .content-asteandi .content1-asteandi .contentthemeasteandi .themeasteandi a {
                font-size: 92px;
                font-weight: 800;
                /* text-shadow: 0 5px 10px rgba(0, 0, 0, 0.69); */
            }
        /*CONTENT 3 MY THEME END*/
        /*FOOTER START*/
            .content-asteandi .footer-asteandi {
                height: 400px;
                width: 100vw;
                padding: 0 30px 30px 30px;
                background-color: var(--primary-color);
            }
            .content-asteandi .footer-asteandi .iconprofile-asteandi { 
                display: flex;
                justify-content: center; 
                /* background-color: #2b8da3; */
                position: absolute;
                left: 25%;
                right: 25%;
                transform: translateY(-40px);
            }
            .content-asteandi .footer-asteandi .iconprofile-asteandi img {
                width: 300px;
                top: 0;
            }
            .content-asteandi .footer-asteandi .iconprofile-asteandi .icon1 {
                animation: spin 10s infinite linear reverse;
                position: absolute;
            }
            .content-asteandi .footer-asteandi .iconprofile-asteandi .icon2 {
                position: absolute;
            }
            .content-asteandi .footer-asteandi .iconprofile-asteandi .icon2:hover {
                filter: grayscale(100%);
                animation: spin 10s infinite linear;
            }
            .content-asteandi .footer-asteandi .wadah1 {
                /* width: 100vw; */
                height: 50%;
                /* background-color: #2b8da3; */
            }
            .content-asteandi .footer-asteandi .wadah2 {
                /* width: 100vw; */
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 35%;
                /* background-color: aqua; */
            }
            .content-asteandi .footer-asteandi .wadah2 h4 {
                color: #fff;
                font-size: 14px;
                font-weight: 300;
            }
            .content-asteandi .footer-asteandi .wadah2 .getintouch {
                height: 50px;
                width: 150px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 15px;
                border-radius: 30px;
                background-color: #fff;
                margin-bottom: 20px;
                font-size: 14px;
                font-weight: 800;
                transform-style: preserve-3d;
                transform: perspective(1000px);
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.463);
            }
            .content-asteandi .footer-asteandi .wadah2 .getintouch span {
                transform: translateZ(60px);
                text-shadow: rgba(0, 0, 0, 0.918) 0 5px 10px;
            }
            .content-asteandi .footer-asteandi .wadah3 {
                /* width: 100vw; */
                height: 15%;
                display: flex;
                border-top: solid 1px #fff;
                /* background-color:cadetblue; */
            }
            .content-asteandi .footer-asteandi .wadah3 .getincontact {
                width: 50%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: end;
                /* align-items: end; */
                /* background-color: #b3b54f; */
            }
            .content-asteandi .footer-asteandi .wadah3 .getincontact a {
                font-weight: 300;
                color: #fff;
                width: 300px;
                /* background-color: #2b8da3; */
            }
            .content-asteandi .footer-asteandi .wadah3 .getinsosmed {
                width: 50%;
                height: 100%;
                display: flex;
                align-items: end;
                justify-content: end;
                gap: 5px;
                /* background-color: #b3b54f; */
            }
            .content-asteandi .footer-asteandi .wadah3 .getinsosmed i {
                color: #fff;
                font-size: 24px;
            }
        /*FOOTER END*/
    /*CONTENT UTAMA END*/
/*CONTENT END*/
/*TOOLTIP HOVER START*/
    .tooltiphover {
        font-size: 14px;
        position: absolute;
        left: 135px;
        background-color: #fff;
        width: auto;
        padding: 3.5px 10px;
        border-radius: 7px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        /* visibility: hidden;*/
        opacity: 0.5;
        transition: 0.5s;
    }
    .header-asteandi .navbar-asteandi .logonavbar-asteandi:hover .tooltiphover {
        transform: translateX(12px);
        visibility: visible;
        opacity: 1;
    }
    .tooltiphover::before {
        content: '';
        position: absolute;
        top: 50%;
        left: -8px;
        width: 12px;
        height: 12px;
        background-color: #fff;
        z-index: -1;
        transform: rotate(45deg) translateY(-60%);
    }
    .tooltiphovermenu {
        font-size: 14px;
        font-weight: 600;
        position: absolute;
        top: 12px;
        right: 50px;
        background-color: #fff;
        width: auto;
        padding: 3.5px 10px;
        border-radius: 7px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        visibility: hidden;
        opacity: 0;
        transition: 0.5s;
    }
    .menuToggle:hover .tooltiphovermenu {
        transform: translateX(-20px);
        visibility: visible;
        opacity: 1;
    }
    .tooltiphovermenu::before {
        content: '';
        position: absolute;
        top: 48%;
        right: 0;
        width: 12px;
        height: 12px;
        background-color: #fff;
        z-index: -1;
        transform: rotate(45deg) translateY(-60%);
    }
    .tooltipwork {
        font-size: 14px;
        font-weight: 600;
        position: absolute;
        top: 164px;
        right: 120px;
        background-color: var(--primary-color);
        color: #fff;
        width: 150px;
        padding: 3.5px 10px;
        border-radius: 7px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        visibility: hidden;
        opacity: 0;
        transition: 0.5s;
    }
    .content-asteandi .content1-asteandi .contentutama-asteandi .cardwork-asteandi .card-asteandi:hover .tooltipwork {
        right: 150px;
        visibility: visible;
        opacity: 1;
        color: #fff;
    }
    .tooltipwork::before {
        content: '';
        position: absolute;
        top: 48%;
        right: 0;
        width: 12px;
        height: 12px;
        background-color: var(--primary-color);
        z-index: -1;
        transform: rotate(45deg) translateY(-60%);
    }
    .tooltipbutton {
        font-size: 48px;
        font-weight: 600;
        position: absolute;
        top: -15px;
        right: -50px;
        color: white;
        width: auto;
        height: auto;
        padding: 3.5px 10px;
        border-radius: 7px;
        text-shadow: 0 5px 15px rgba(0, 0, 0, 0.497);
        visibility: hidden;
        opacity: 0;
        transition: 0.5s;
    }
    .content-asteandi .content1-asteandi .descriptionabout-asteandi .buttonabout-asteandi .buttonabout:hover .tooltipbutton {
        right: -80px;
        visibility: visible;
        opacity: 1;
    }
    .content-asteandi .content1-asteandi .contentutama-asteandi .buttonwork-asteandi .buttonwork:hover .tooltipbutton {
        right: -80px;
        visibility: visible;
        opacity: 1;
    }
    .tooltiplatest {
        font-size: 10px;
        font-weight: 600;
        position: absolute;
        top: 50px;
        left: -30px;
        background-color: #fff;
        /* color: var(--primary-color); */
        width: auto;
        padding: 3.5px 10px;
        border-radius: 7px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.346);
        visibility: hidden;
        opacity: 0;
        transition: 0.5s;
        text-align: center;
        rotate: -90deg;
    }
    .content-asteandi .content1-asteandi .contentutama-asteandi .cardwork-asteandi .card-asteandi:hover .tooltiplatest {
        top: 50px;
        left: -50px;
        visibility: visible;
        opacity: 1;
        color: var(--primary-color);
    }
/*TOOLTIP HOVER END*/

/*MEDIA START*/
    @media (max-width: 1000px) {
        .content-asteandi .content1-asteandi .about-asteandi {
            padding: 0 100px;
        }
        .content-asteandi .content1-asteandi .descriptionabout-asteandi {
            display: flex;
            /* border-bottom: solid 5px; */
            padding: 0 100px 70px 100px;
            /* background-color: #62b0bb; */
        }
        .content-asteandi .content1-asteandi .contentutama-asteandi .cardwork-asteandi {
            padding: 0;
            gap: 0;
        }
        .gradientcard {
            visibility: hidden;
            opacity: 0;
        }
        .content-asteandi .content1-asteandi .contentutama-asteandi .buttonwork-asteandi {
            padding: 0 30px;
            transform: translateY(200px);
            /* background-color: aqua; */
        }
        .content-asteandi .content1-asteandi .contentthemeasteandi {
            padding: 0 100px 30px 100px;
        }
    }
    @media (max-width: 900px) {
        .iso-marquee--long {
            font-size: 7.5vw;
        }
        .content-asteandi .content1-asteandi .contentutama-asteandi {
            min-height: 1750px;
        }
        .content-asteandi .content1-asteandi .contentutama-asteandi .buttonwork-asteandi {
            padding: 0 30px;
            transform: translateY(250px);
            /* background-color: aqua; */
        }
    }
    @media (max-width: 768px) {
        .navigation .navArea {
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 10;
        }
        .navigation .navArea ul {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .navigation .navArea ul li {
            background: white;
            margin: 5px 10px;
            padding: 5px 10px;
        }
        .navigation .navArea ul li:hover {
            background: grey;
        }
        .navigation .navArea ul li a {
            color: black;
            font-size: 2em;
            letter-spacing: 2px;
        }
        .imgArea {
            position: absolute;
            width: 100%;
            height: 100vh;
            background-color: #62b0bb;
        }
        .navigation .navArea ul li:hover::before {
            opacity: 0;
        }
        .imgArea {
            position: absolute;
            width: 100%;
            height: 100vh;
            background-color: #62b0bb;
            opacity: 0.7;
        }
        .content-asteandi .content1-asteandi .contentthemeasteandi {
            padding: 0 30px 30px 30px;
        }
        .content-asteandi .content1-asteandi .contentthemeasteandi .themeasteandi a {
            font-size: 48px;
        }
    }
    @media (max-width: 664px) {
        .content-asteandi .home-asteandi .homenamemiddle-asteandi .jobimg-asteandi {
            z-index: -1;
        }
        .iso-marquee--long {
            font-size: 9vw;
        }
        .content-asteandi .home-asteandi .homenamemiddle-asteandi .iso-marquee-linkwrap {
            z-index: -2;
        }
        .content-asteandi .home-asteandi .descriptionbottom-asteandi .jobdesk-asteandi {
            z-index: -2;
        }
        .content-asteandi .content1-asteandi .about-asteandi {
            text-align: justify;
            padding: 0 30px;
        }
        .content-asteandi .content1-asteandi .about-asteandi span {
            font-size: 24px;
        }
        .content-asteandi .content1-asteandi .descriptionabout-asteandi {
            padding: 0 30px 50px 30px;
        }
        .content-asteandi .content1-asteandi .descriptionabout-asteandi .description-asteandi {
            padding: 30px 0 0 0;
        }
        .content-asteandi .content1-asteandi .descriptionabout-asteandi .description-asteandi p {
            font-size: 16px;
        }
    }
    @media (max-width: 600px) {
        .content-asteandi .content1-asteandi {
            box-shadow: none;
        }
        /* .content-asteandi .footer-asteandi .buttoncontact-asteandi {
            background-color: #2b8da3;
        } */
        .iso-marquee--long {
            font-size: 12vw;
        }
    }
    @media (max-width: 480px) {
        .content-asteandi .content1-asteandi .descriptionabout-asteandi .buttonabout-asteandi .buttonabout {
            height: 150px;
            width: 150px;
            font-size: 20px;
            font-weight: 800;
        }
        .content-asteandi .content1-asteandi .contentutama-asteandi .buttonwork-asteandi .buttonwork {
            height: 150px;
            width: 150px;
            font-size: 20px;
        }
        .content-asteandi .content1-asteandi .contentutama-asteandi .buttonwork-asteandi {
            transform: translateY(320px);
        }
        .iso-marquee--long {
            font-size: 15.5vw;
        }
        .content-asteandi .home-asteandi .homenamemiddle-asteandi .jobimg-asteandi img {
            width: 120px;
        }
        .content-asteandi .home-asteandi .homenamemiddle-asteandi .jobimg-asteandi .location2 {
            width: 120px;
        }
        .content-asteandi .footer-asteandi .iconprofile-asteandi img {
            width: 200px;
        }
        .content-asteandi .footer-asteandi .wadah2 h4 {
            font-size: 10px;
        }
        .content-asteandi .footer-asteandi .wadah3 .getincontact a {
            font-weight: 300;
            font-size: 12px;
        }
        .content-asteandi .footer-asteandi .wadah3 .getinsosmed i {
            font-size: 18px;
        }
    }
    @media (max-width: 350px) {
        .tooltiphover {
            font-size: 14px;
            position: absolute;
            top: 35px;
            left: 3px;
            background-color: #fff;
            width: auto;
            padding: 3.5px 10px;
            border-radius: 7px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
            /* visibility: hidden;*/
            opacity: 0.5;
            transition: 0.5s;
        }
        .header-asteandi .navbar-asteandi .logonavbar-asteandi:hover .tooltiphover {
            transform: translateY(12px);
            visibility: visible;
            opacity: 1;
        }
        .tooltiphover::before {
            content: '';
            position: absolute;
            top: -1px;
            left: 40%;
            width: 12px;
            height: 12px;
            background-color: #fff;
            z-index: -1;
            transform: rotate(45deg) translateY(-60%);
        }
        .content-asteandi .home-asteandi .homenamemiddle-asteandi .jobimg-asteandi img {
            width: 100px;
        }
        .content-asteandi .home-asteandi .homenamemiddle-asteandi .jobimg-asteandi .location2 {
            width: 100px;
        }
        .content-asteandi .content1-asteandi .descriptionabout-asteandi {
            display: block;
        }
        .content-asteandi .content1-asteandi .descriptionabout-asteandi .buttonabout-asteandi {
            display: flex;
            justify-content: start;
        }
        .iso-marquee--long {
            font-size: 17vw;
        }
    }
    @media (max-width: 320px) {
        .content-asteandi .home-asteandi .descriptionbottom-asteandi .jobdesk-asteandi i {
            font-size: 30px;
        }
        .content-asteandi .home-asteandi .descriptionbottom-asteandi .jobdesk-asteandi h1 {
            font-size: 12px;
        }
        .content-asteandi .content1-asteandi .contentutama-asteandi .cardwork-asteandi .card-asteandi {
            width: 14em;
        }
        .content-asteandi .content1-asteandi .contentutama-asteandi .cardwork-asteandi .card-asteandi .workcontent-asteandi .cart-asteandi {
            width: 100px;
        }
        .content-asteandi .content1-asteandi .contentthemeasteandi .themeasteandi a {
            font-size: 30px;
        }
        .backgroundhome-asteandi img {
            /* position: fixed;
            overflow: hidden; */
            visibility: hidden;
            opacity: 0;
        }
        body { 
            /* background: url(../img/1.jpg); */
        }
        .iso-marquee--long {
            font-size: 22vw;
        }
        .content-asteandi .content1-asteandi .descriptionabout-asteandi .buttonabout-asteandi .buttonabout {
            height: 150px;
            width: 150px;
            font-size: 20px;
            font-weight: 800;
        }
        .content-asteandi .content1-asteandi .contentutama-asteandi .buttonwork-asteandi .buttonwork {
            height: 100px;
            width: 100px;
            font-size: 16px;
        }
        .content-asteandi .content1-asteandi .contentutama-asteandi .buttonwork-asteandi {
            transform: translateY(400px);
        }
        .header-asteandi .navbar-asteandi {
            visibility: hidden;
        }
        /* .content-asteandi .footer-asteandi .iconprofile-asteandi img {
            width: 100px;
            left: 30px;
        } */
        .navigation .navArea ul li a {
            font-size: 1em;
        }
        .menuToggle {
            position: fixed;
            top: 30px;
            right: 30px;
            width: 50px;
            height: 50px;
            background: var(--primary-color) url(../img/menu.png);
            border-radius: 10px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.335);
            z-index: 500;
            background-size: 30px;
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 992;
        }
        .content-asteandi .footer-asteandi .wadah3 {
            height: 15%;
            display: flex;
            flex-direction: column;
            border-top: solid 1px #fff;
        }
        .content-asteandi .footer-asteandi .wadah3 .getincontact a {
            font-weight: 300;
            color: #fff;
            width: 100px;
        }
        .content-asteandi .footer-asteandi .wadah3 .getinsosmed {
            display: flex;
            align-items: end;
            justify-content: start;
            gap: 5px;
        }
    }
    @media (max-width: 315px) {
        .content-asteandi .content1-asteandi .contentutama-asteandi .cardwork-asteandi .card-asteandi {
            width: 10em;
        }
        .content-asteandi .content1-asteandi .contentutama-asteandi .cardwork-asteandi .card-asteandi .workcontent-asteandi .cart-asteandi {
            width: 100px;
        }
        .content-asteandi .home-asteandi .descriptionbottom-asteandi .jobdesk-asteandi i {
            font-size: 24px;
        }
        .content-asteandi .home-asteandi .descriptionbottom-asteandi .jobdesk-asteandi h1 {
            font-size: 10px;
        }
    }
    
/*MEDIA END*/